:root {
  --background-color: #FFFFFF;
  --color: #ECECEC;
  --color-black: #333333;
  --border-color: #E9EBF7; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color);
}

.container {
  width: 1920px;
  height: 1027px;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  position: relative;

  .switch__slide {
    width: 100%;
    display: flex;
    margin-top: 365px;
    position: absolute;
    z-index: 2;

    .ellipce {
      width: 241px;
      height: 296px;
      display: flex;
      align-items: center;
      background-image: url("../assets/Ellipse\ 13.png");

      button {
        width: 80px;
        height: 79px;
        background: none;
        border: none;
        background-image: url("../assets/icons8-collapse-arrow-64.png");
        image-rendering: --webkit-optimize-contrast;
      }
    }
  }

  .switch__slide .ellipce:first-child {
    transform: rotate(180deg);
  }

  .switch__slide .ellipce:last-child {
    margin-left: auto;
  }



  .content1 {
    width: 1580px;
    height: 925px;
    position: absolute;
    border: 2px solid var(--border-color);
    border-radius: 14px;
    z-index: 1;
    margin-top: 102px;
    transition: all ease 1s;
    
    .content__card {
      width: 1380px;
      display: flex;
      justify-content: space-between;
      margin-left: 129px;
      margin-top: 60px;

      .card__img {
        width: 336px;
        height: 732px;
        border-radius: 8px;
        background-image: url('../assets/erfan-banaei-p00r5JmTMpY-unsplash\ 1.png');
      }
  
      .card__info {
        width: 930px;
        height: 711px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header {
          height: 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          
          .img__item {
            width: 263px;
            display: flex;
          }

          .img__item div:first-child {
            width: 79.07px;
            height: 59.92px;
            background-image: url('../assets/image9.png');
          }

          .img__item div:last-child {
            width: 183.93px;
            height: 59.92px;
            background-image: url('../assets/image10.png');
          }

          p {
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
          }
        }

        .navbar {
          height: 90px;
          border-radius: 37px;
          background-color: var(--border-color);
          display: flex;
          justify-content: center;
          align-items: center;

          ul {
            list-style-type: none;
            display: flex;

            li {
              width: 230px;
              height: 52px;
              border-radius: 34px;
              font-size: 14px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 400;
              color: #AAAAAA;

              &:hover {
                cursor: pointer;
              }
            }

            li.active {
              color: var(--color-black);
              background-color: var(--background-color);
            }
          }
        }

        .tabcontent {
          height: 500px;
          display: none;
          flex-direction: column;
          justify-content: space-between;

          .info {
            width: 730px;
            height: 223px;
            display: flex;
            justify-content: space-between;
  
            .info__item1 {
              width: 181px;
              height: 100%;
            }
  
            .info__item1 div {
              width: 158.85px;
              height: 193.79px;
              background-image: url('../assets/1609.m00.i125.n015.P.c25.435909910\ Business\ sales\ funnel\ vector\ infographics\ [преобразованный]\ 1.png');
            }
  
            .info__item2 {
              width: 519px;
              height: 218px;
  
              .group {
                width: 343.96px;
                height: 208px;
                margin-left: 136px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
  
                .attracted__person {
                  width: 343.96px;
                  height: 48px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
  
                  .quantity {
                    width: 101px;
                    font-weight: 400;
                    font-size: 40px;
                  }
  
                  .attracted {
                    width:  150px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #AAAAAA;
                  }
  
                  svg {
                    width: 32.96px;
                    height: 25.5px;
                    background-image: url('../assets/Vector.png');
                  }
                }
  
                .applications__site {
                  width: 309px;
                  height: 48px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
  
                  .quantity {
                    width: 63px;
                    font-weight: 400;
                    font-size: 40px;
                  }
  
                  .attracted {
                    width:  150px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #AAAAAA;
                  }
  
                  svg {
                    width: 36px;
                    height: 30px;
                    background-image: url('../assets/Vector1.png');
                  }
                }
  
                .average__cost {
                  width: 283px;
                  height: 48px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
  
                  .quantity {
                    width: 63px;
                    font-weight: 400;
                    font-size: 40px;
                  }
  
                  .attracted {
                    width:  150px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #AAAAAA;
                  }
  
                  svg {
                    width: 36px;
                    height: 36px;
                    background-image: url('../assets/free-icon-ruble-2769409\ 1.png');
                  }
                }
              }
            }
          }
        }

        .budget__info {
          width: 741px;
          height: 136px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .budget {
            width: 355px;
            height: 136px;
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #E9EBF7;

            .ellipce {
              width: 66px;
              height: 66px;
              border: 2px solid #43BEA2;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 20px;

              svg {
                width: 36px;
                height: 30px;
                background-image: url('../assets/noun-diagram-1777138\ 1.png');
              }
            }

            .budget__item {
              height: 65px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }

            .budget__item span:first-child {
              font-size: 24px;
              font-weight: 700px;
            }

            .budget__item span:last-child {
              font-size: 14px;
              font-weight: 400px;
              color: #AAAAAA;
            }
          }

          .traffic {
            width: 311px;
            color: #43BEA2;
            font-size: 14px;
            font-weight: 700;
          }
        }

        .btn {
          width: 200px;
          height: 52px;
          border-radius: 25px;
          background-color: #43BEA2;
          color: white;
          border: none;
        }
      }

      .tabcontent {
        display: none;
      }
    }
  }

  .content2 {
    width: 1580px;
    height: 925px;
    display: none;
    position: absolute;
    border: 2px solid var(--border-color);
    border-radius: 14px;
    z-index: 1;
    margin-top: 102px;
    transition: all ease 1s;
    
    .content__card {
      width: 1380px;
      display: flex;
      justify-content: space-between;
      margin-left: 129px;
      margin-top: 60px;

      .card__img {
        width: 336px;
        height: 732px;
        border-radius: 8px;
        background-image: url('../assets/erfan-banaei-p00r5JmTMpY-unsplash\ 1.png');
      }
  
      .card__info {
        width: 930px;
        height: 711px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header {
          height: 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          
          .img__item {
            width: 263px;
            display: flex;
          }

          .img__item div:first-child {
            width: 79.07px;
            height: 59.92px;
            background-image: url('../assets/image9.png');
          }

          .img__item div:last-child {
            width: 183.93px;
            height: 59.92px;
            background-image: url('../assets/image10.png');
          }

          p {
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
          }
        }

        .navbar {
          height: 90px;
          border-radius: 37px;
          background-color: var(--border-color);
          display: flex;
          justify-content: center;
          align-items: center;

          ul {
            list-style-type: none;
            display: flex;

            li {
              width: 230px;
              height: 52px;
              border-radius: 34px;
              font-size: 14px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 400;
              color: #AAAAAA;
            }
          }

          ul li:first-child {
            color: var(--color-black);
            background-color: var(--background-color);
          }
        }

        .info {
          width: 730px;
          height: 223px;
          display: flex;
          justify-content: space-between;

          .info__item1 {
            width: 181px;
            height: 100%;
          }

          .info__item1 div {
            width: 158.85px;
            height: 193.79px;
            background-image: url('../assets/1609.m00.i125.n015.P.c25.435909910\ Business\ sales\ funnel\ vector\ infographics\ [преобразованный]\ 1.png');
          }

          .info__item2 {
            width: 519px;
            height: 218px;

            .group {
              width: 343.96px;
              height: 208px;
              margin-left: 136px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .attracted__person {
                width: 343.96px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .quantity {
                  width: 101px;
                  font-weight: 400;
                  font-size: 40px;
                }

                .attracted {
                  width:  150px;
                  font-size: 14px;
                  font-weight: 400;
                  color: #AAAAAA;
                }

                svg {
                  width: 32.96px;
                  height: 25.5px;
                  background-image: url('../assets/Vector.png');
                }
              }

              .applications__site {
                width: 309px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .quantity {
                  width: 63px;
                  font-weight: 400;
                  font-size: 40px;
                }

                .attracted {
                  width:  150px;
                  font-size: 14px;
                  font-weight: 400;
                  color: #AAAAAA;
                }

                svg {
                  width: 36px;
                  height: 30px;
                  background-image: url('../assets/Vector1.png');
                }
              }

              .average__cost {
                width: 283px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .quantity {
                  width: 63px;
                  font-weight: 400;
                  font-size: 40px;
                }

                .attracted {
                  width:  150px;
                  font-size: 14px;
                  font-weight: 400;
                  color: #AAAAAA;
                }

                svg {
                  width: 36px;
                  height: 36px;
                  background-image: url('../assets/free-icon-ruble-2769409\ 1.png');
                }
              }
            }
          }
        }

        .budget__info {
          width: 741px;
          height: 136px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .budget {
            width: 355px;
            height: 136px;
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #E9EBF7;

            .ellipce {
              width: 66px;
              height: 66px;
              border: 2px solid #43BEA2;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 20px;

              svg {
                width: 36px;
                height: 30px;
                background-image: url('../assets/noun-diagram-1777138\ 1.png');
              }
            }

            .budget__item {
              height: 65px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }

            .budget__item span:first-child {
              font-size: 24px;
              font-weight: 700px;
            }

            .budget__item span:last-child {
              font-size: 14px;
              font-weight: 400px;
              color: #AAAAAA;
            }
          }

          .traffic {
            width: 311px;
            color: #43BEA2;
            font-size: 14px;
            font-weight: 700;
          }
        }

        .btn {
          width: 200px;
          height: 52px;
          border-radius: 25px;
          background-color: #43BEA2;
          color: white;
          border: none;
        }
      }
    }
  }
}